body{
    margin: 0;
}
.post-container{
    box-sizing: border-box;
    width: 70%;
    height: 100%;
    margin:0px auto 0px auto;
    background: #fffafa;
}
h1{
    font-family: 'Montserrat', sans-serif;
}
.date{
    font-family: 'Roboto', sans-serif;
    color: #008080;
}
.post-content{
    font-family: 'Open Sans','sans-serif';
}
.post{
    padding: 10px 20px 10px 20px;
}
/*Fontes utilizadas:
1. Elemento H1 = Montserrat
2. Elementos com a classe date = Roboto
3. Elementos com a classe post-content = Open Sans

Cores:
1. Background dos posts = #fffafa
2. Cor da data = #008080*/